Workshop[[:space:]]Prototypes/car[[:space:]]window/Car_Window_Scenario_Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
Workshop[[:space:]]Prototypes/smartphone/smartphonePrototype.apk filter=lfs diff=lfs merge=lfs -text
