player-connection-mode=Listen
player-connection-guid=2800784593
player-connection-debug=0
player-connection-project-name=Blindenprojekt_Szenario
player-connection-ip=192.168.1.198
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a140a0cc86144102b7cb9f019bacffb0
